script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='/lib/jquery/jquery.js')
script(type='text/javascript', src='/lib/underscore/underscore-min.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-resource.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-cookies.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

// bundled scripts includes, Application Init, Controllers and  Services
script(type='text/javascript', src='./bundle/main.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')
