<section class="sign-in">
  <div id="main-bod">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Landing Start -->

    <div class="parallax-background" id="homer" style="height: 1000px">


      <!-- Teaser Text Start -->
      <br><br><br><br>

      <div class="sign-body">
        <div class="more-sign">
          <form class="signup form-horizontal" action="/users" method="post">
            <input class="form-control" id="name" type="text" name="name" placeholder="Enter your Full Name" required novalidate style="width:300px;" />
            <input class="form-control" id="email" type="email" name="email" placeholder="Enter your Email" required novalidate style="width:300px; " />
            <input class="form-control" id="password" type="password" name="password" placeholder="Enter Your Password" required novalidate style="width:300px;" />
            <button id="sign-up-btn-other " type='submit' style="background-color: darkorange; ">Sign Up</button>
          </form>
          <p id="create" style="margin-bottom: 4px;">Or Sign up with:</p>
          <div id="login-buttons " style="margin-left: 75px">
            <a href="/auth/facebook "><i class="fa fa-facebook "  aria-hidden="false " class="login-item " style="font-size:40px; color: white; "></i></a>
            <a href="/auth/github "><i class="fa fa-github " aria-hidden="true "  class="login-item " style="font-size:40px; color: white; "></i></a>
            <a href="/auth/twitter "><i class="fa fa-twitter " aria-hidden="true " class="login-item " style="font-size:40px; color: white; "></i></a>
            <a href="/auth/google "><i class="fa fa-google " aria-hidden="true " class="login-item " style="font-size:40px; color: white; "></i></a>
          </div>
        </div>
      </div>
</section>