<div id = "inner-timer-container">
  <span id="timer-status-round" ng-hide="game.state === 'winner has been chosen' || game.state === 'waiting for czar to decide'" style="color: #ffffff; font-style: italic"> time remaining</span>
  <span id="timer-status-czar-choosing" ng-show="game.state === 'winner has been chosen'" style="color: #ffffff; font-style: italic"> next round in</span>
  <span id="timer-status-czar-choosing" ng-show="game.state === 'waiting for czar to decide'" style="color: #ffffff; font-style: italic"> czar choosing</span>
  <div id="time" ng-bind="game.time"></div>
</div>
